<%= form_with url: login_path do |form| %>
  <h4 class="d-flex justify-content-center mt-5 mb-3">ログイン画面</h4>
  <div class="d-flex justify-content-center">
    <div>
      <%= form.label :email, "メールアドレス" %><br>
      <%= form.email_field :email %><br>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <div>
      <%= form.label :password, "パスワード" %><br>
      <%= form.email_field :password %><br>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <div>
      <%= form.submit "ログイン", class: "btn btn-primary my-3" %><br>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <div>
      <!-- # 新規登録画面が実装されたらリンクを設定する -->
      <a href="">まだ登録がお済みでない方はこちら</a>
    </div>
  </div>
<% end %>
