<%= form_with(scope: :session, url: login_path) do |form| %>
  <h4 class="d-flex justify-content-center mt-5 mb-3">ログイン画面</h4>
  <div class="d-flex justify-content-center">
    <div>
      <%= form.label :email, "メールアドレス" %><br>
      <%= form.email_field :email %><br>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <div>
      <%= form.label :password, "パスワード" %><br>
      <%= form.password_field :password %><br>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <div>
      <%= form.submit "ログイン", class: "btn btn-primary my-3" %><br>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <div>
      <%= link_to 'まだ登録がお済みでない方はこちら', sign_up_path %>
    </div>
  </div>
<% end %>
